Checks: >
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-owning-memory,
  -readability-magic-numbers,
  -modernize-use-trailing-return-type,
  -readability-identifier-length

WarningsAsErrors: "*"

HeaderFilterRegex: "src/.*"

FormatStyle: file
