Checks: >
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-owning-memory,
  -readability-magic-numbers

WarningsAsErrors: "*"

HeaderFilterRegex: "src/.*"

FormatStyle: file
