BasedOnStyle: Google

Language: Cpp
Standard: Latest

IndentWidth: 2
TabWidth: 2
UseTab: Never

ColumnLimit: 80

BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: true

SortIncludes: true
IncludeBlocks: Regroup
