build/*
build-release/
FootballManagement*
compile_commands.json
.cache
game_state.json
football_management.db*
*report*
!src/**/*report*
!test/**/*report*
heaptrack*
assets/config/settings.json
add_copyright_header.sh
logs
docs/html/
.DS_Store
assets/imgui.ini
build_before/
out
docs/implementation

# Local documentation/media build helpers
__pycache__/
node_modules/
